@font-face {
  font-family: "inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}


. {
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: #FEAFC3;
  font-family: 'Inter', sans-serif;
  font-style: normal;

}

.container {
  max-width: 1170px;
  margin: 0 auto;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}


.header_nav {
  display: flex;

  align-items: center;
}

.header .container {
  min-height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.header-logo-link {
  margin-right: 32px;

}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

}

.navigation-item {
  font-size: 16px;

  color: #2D3440;

}

.navigation-item:not(:last-child) {
  margin-right: 32px;

}

.navigation-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  min-width: 119px;
  min-height: 36px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 2px solid transparent;

}



.navigation-link:checked {
  border: 2px solid transparent;
  background: #FF4A78;
  color: #E7E7E7;
}

.navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);


}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
}

.navigation-link:active {
  background: #FCFCFC;

}


.header__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__contact {
  font-size: 16px;

  font-style: normal;
  font-weight: 700;
  margin-right: 16px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}



.header__btn {
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  cursor: pointer;
  border: 2px solid transparent;
  color: #2D3440;
}


.header__btn:hover {
  background: rgba(252, 252, 252, 0.5);

}

.header__btn:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;

}

.header__btn:active {
  background: #FCFCFC;
}


.header__btn:active .icon {
  fill: #000000;

}

.header__btn:checked .icon {
  fill: #FCFCFC;

}


.header__search:checked {
  border: 2px solid transparent;
  background: #FF4A78;
}


.header__search {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}


.header__login {
  min-width: 88px;
  min-height: 32px;
  padding: 6px 16px;
  margin-right: 16px;
}



.header__cart {
  min-width: 88px;
  min-height: 32px;
  padding: 6px 16px;

}

.cart-price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin-right: 63px;

}

.cart-price-link {
  width: 32px;
  height: 32px;
  background: #FF2F64;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search .icon {
  height: 13px;
  width: 13px;
}


.header__login .icon {
  height: 13px;
  width: 13px;
  margin-right: 7px;
}



.header__cart .icon {
  height: 14px;
  width: 14px;
  margin-right: 7px;
}

.icon {
  fill: #2D3440;

}

.slider-button .icon {
  width: 38px;
  height: 38px;
  border: none;
  fill: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  transform: rotate(180deg)
}

.icon-header {
  margin-right: 6px;

}

.main-carousel {
  margin-bottom: 80px;

}

.carousel-top {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 17px;
}

.carousel__content {
  max-width: 470px;
  padding-top: 115px;
  margin: 0;
}

.carousel__content li {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.carousel__content .active {
  display: flex;

}

.carousel__content__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 24px;
}

.carousel__content__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 48px;
}




.button-order {
  text-decoration: none;
  min-width: 139px;

}


.button-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  box-sizing: border-box;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  border: none;

}

.button-second:hover {
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border: none;
}

.button-second:focus {
  color: #FCFCFC;
  background: #FEAFC3;
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border: none;
}

.button-second:active {
  color: #FCFCFC;
  background: #FF2F64;
  border: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border: none;
}

.button-second:disabled {
  background: #B9B9B9;
  border: 4px solid rgba(185, 185, 185, 0.3);
  color: #565C66;
  border: none;
}

.button-gift {
  min-width: 152px;
  text-decoration: none;

}

.button-subscribe {
  text-decoration: none;
  min-width: 176px;


}

.button-apply {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  outline: 2px solid #FCFCFC;

  border-radius: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;

  color: #2D3440;
  padding: 8px 32px;
  min-width: 185px;


}


.button-apply:hover {
  background: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);

}

.button-apply:focus {
  outline: 2px solid #2D3440;
  background: rgba(252, 252, 252, 0.3);

}

.button-apply:active {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);

}

.button-apply:disabled {
  color: #565C66;
  outline: 2px solid #FCFCFC;
  opacity: 0.4;
  background: rgba(252, 252, 252, 0.3);

}




.carousel__preview {
  position: relative;
  padding-top: 21px;
}

.carousel__preview ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;

}


.carousel__preview ul li {
  position: relative;
}

.carousel__preview ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.4;
  background-color: #FFCBD8;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}


.carousel__preview .active::after {
  width: 312px;
  height: 312px;
  opacity: 1;
}

.carousel__preview li img {
  max-width: 66px;
}

.carousel__preview ul li:not(:last-child) {
  margin-right: 75px;

}

.carousel__preview .active img {
  max-width: 306px;
  position: relative;
}


.carousel__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.carousel__dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;

}

.carousel__dots li:not(:last-child) {
  margin-right: 8px;

}

.carousel__dots li button {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  cursor: pointer;

}

.carousel__dots .active button {
  opacity: 1;

}

.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;

}


.slider-button {
  position: absolute;
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  cursor: pointer;
  left: 3%;
  top: 50%;

}

.button-next {
  position: absolute;
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;

  left: 52%;
  top: 50%;
  transform: rotate(180deg);

}


.slider-button:hover {
  background-color: #FCFCFC;
  fill: #000000;
}

.slider-button:hover svg path {
  fill: #000000;
}

.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);

  border: 2px solid #2D3440;

}

.slider-button:focus svg path {
  fill: #000000;

}

.slider-prev {
  transform: rotate(180deg);
}






.carousel__social {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;

}

.carousel__social li:not(:last-child) {

  margin-right: 16px;
}

.carousel__social li a {
  display: flex;
  text-decoration: none;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;

}

.carousel__social li a:hover svg path {
  fill: #FCFCFC;


}

.carousel__social li a:hover {
  background-color: #2D3440;
}









.cart-price-link {
  border: 2px solid transparent;
  cursor: pointer;

}


.cart-price-link svg path {

  fill: #FCFCFC;
}

.cart-price-link:focus svg path {

  fill: #000000;
}

.cart-price-link:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;

}

.cart-price-link:hover svg path {

  fill: #000000;
}

.cart-price-link:hover {
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;

}

.cart-price-link:active svg path {

  fill: #FCFCFC;
}

.cart-price-link:active {

  background: #FF2F64;

  border: 2px solid #2D3440;

}

.cart-price-link:disabled svg path {

  fill: #000000;
}

.cart-price-link:disabled {

  background: #B9B9B9;

  border: 2px solid #2D3440;

}






.index-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 81px;



}

.banner-title {
  display: flex;
  justify-content: center;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  margin-bottom: 55px;
}

.banner-raspberry {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  box-sizing: border-box;
  width: 570px;
  min-height: 270px;
  padding: 36px;
  background-color: #FF7799;
  border-radius: 16px;
  background-image: url("../images/raspberry.png");
  background-repeat: no-repeat;
  background-size: 219px 268px;
  margin-right: 30px;
  background-position: right;

}


.main-news {}

.banner-news {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  box-sizing: border-box;

  padding: 33px;
  background-color: transparent;
  background-image: url("../images/background-news.jpg");
  background-repeat: no-repeat;
  width: 570px;
  height: 224px;
  border-radius: 16px;

}

.banner-news-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 13px;
  color: #565C66;
  width: 303px;

}

.banner-subscribe-text {
  width: 506px;
  height: 66px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin-bottom: 46px;
}

.banner-news-discr {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  width: 303px;

}

.border-subscribe {
  background-image: url("../images/background-subsc.jpg");
  background-repeat: repeat;
  width: 570px;
  min-height: 224px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 16px;
}

.banner-subscribe {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: start;
  box-sizing: border-box;
  width: 558px;

  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;


}







.banner-marshm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
  width: 570px;
  min-height: 270px;
  padding: 36px;
  background-color: #FF7799;
  border-radius: 16px;
  background-image: url("../images/marshm.png");
  background-repeat: no-repeat;
  background-size: 219px 268px;

  background-position: right;

}

.banner-rasberry-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 28px;
}

.banner-rasberry-discr {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  margin: 0;
  margin-bottom: 28px;
}

.field-subscribe-one {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.field-subscribe {

  box-sizing: border-box;
  background: #FFFFFF;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 332px;
  height: 48px;
  margin-right: 18px;
}


.catalog-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap;
}



.catalog-item {
  display: flex;
  flex-wrap: wrap;
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  margin-bottom: 91px;
  padding: 40px;
  box-sizing: border-box;
  justify-content: center;

}

.catalog-inner-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style-type: none;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  margin-bottom: 70px;
}



.catalog-inner-item {
  display: flex;
  flex-wrap: wrap;
  background-color: #FCFCFC;
  border-radius: 8px;

  padding: 40px;
  box-sizing: border-box;
  justify-content: center;

}



.catalog-cart-price {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.catalog-cart-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
  margin-bottom: 8px;
}

.catalog-cart-d {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
  margin-bottom: 20px;

}

.ice-cart {
  display: inline-block;
  margin-top: -90px;
  margin-bottom: 30px;

  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
  width: 168px;
  height: 168px;



}

.ceo {
  box-sizing: border-box;
  padding: 24px;
  background-image: url("../images/background-waf.jpg");
  background-repeat: repeat;
  flex-wrap: wrap;
  width: 1170px;
  height: 480px;

  border-radius: 16px;
  margin-bottom: 86px;
}

.ceo-1 {
  box-sizing: border-box;
  padding: 56px 40px;
  width: 1122px;
  height: 432px;

  flex-wrap: wrap;
  background: #FFFFFF;
  border-radius: 16px;

}



.ceo-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;

}

.ceo-item {
  display: flex;
  margin-bottom: 40px;
  width: 515px;
}

.ceo-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  margin-bottom: 56px;
}

.ceo-text {

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;


}

.icon-chocolate {

  background-image: url("../images/icon-chocolate.svg");
  background-size: 16px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  margin-right: 16px;
}

.icon-cow {

  background-image: url("../images/icon-cow.svg");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  margin-right: 16px;
}

.icon-termo {

  background-image: url("../images/icon-termo.svg");
  background-size: 19px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  margin-right: 16px;
}

.icon-leaf {

  background-image: url("../images/icon-leaf.svg");
  background-size: 19px 32px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  margin-right: 16px;
}



.delivery {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  width: 1170px;
  min-height: 534px;
  box-sizing: border-box;

  border-radius: 16px;
  padding: 167px 0 163px 100px;
  margin-bottom: 80px;
  background-image: url("../images/background-deliv.jpg");
  background-repeat: no-repeat;


}

.delivery-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.delivery-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #565C66;

}


.delivery-forms {
  position: absolute;
  left: 606px;
  top: 64px;

  padding: 42px 40px;
  box-sizing: border-box;
  width: 500px;
  min-height: 406px;

  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  flex-wrap: wrap;

}



.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  grid-gap: 48px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-address {
  grid-column: 1 / -1;
}

.delivery-send {
  grid-column: 1 / -1;
  justify-self: start;
  margin-top: 9px;
}


/* List */
.appointment-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

/* Label */
.form-label {
  margin-bottom: 8px;
  margin-right: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}


.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.info {
  position: absolute;
  width: 14px;
  height: 14px;

  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.field {
  margin: 0;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 16px;
  box-sizing: border-box;
}

/* Hover, Focus */
.field:hover {
  background: #FFFFFF;
  border: 1px solid #2D3440;
  border-radius: 4px;
}

.field:focus {
  background: #FFFFFF;
  border: 1px solid #2D3440;
  border-radius: 4px;
}

/* Disabled */
.field:disabled {
  background: #E7E7E7;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.field:disabled:hover {
  color: #2D3440;
  opacity: 0.65;

}

/* Invalid */
.field:invalid {
  background: #FFFFFF;
  border: 1px solid #EA5454;
  border-radius: 4px;
}

.field:hover:invalid {
  background: #FFFFFF;
  border: 2px solid #EA5454;
  border-radius: 4px;
}

/* Placeholder */
.field::placeholder {
  color: #B9B9B9;
}

.button-delivery-send {

  width: 152px;
  margin-left: 150px;
}


.adress-block {
  box-sizing: border-box;

  border-radius: 16px;
  padding: 64px;
  margin-bottom: 44px;
  background-image: url("../images/background-contact.jpg");
  background-repeat: no-repeat;


}

.contacts-address {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
  height: 364px;
  padding: 40px;
}

.contacts-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
  margin: 0;
  margin-bottom: 24px;
}

.contacts-fone {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  text-decoration: none;
  margin: 0;
}

.contacts-time {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 32px;

}

.button-contacts {
  text-decoration: none;
  width: 250px;
}






.footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer-social-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 16px;

}

.footer-social-link {}



.footer__links-list {
  max-width: 360px;
  flex-wrap: wrap;
  list-style-type: none;
  display: flex;
  align-items: center;

}


.footer__links-item:not(:last-child) {
  margin-right: 38px;

}




.footer__links-link {

  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;

}


.footer__copyright {
  display: flex;

  flex-wrap: wrap;
  width: 250px;
}


.footer__copyright-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;

}

.footer__copyright-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin-top: 18px;
}

.logo-develloper {
  cursor: pointer;

}

.developer-link {}




.catalog-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;


}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {}

.breadcrumbs-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;

}


.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;

}



.filters {

  margin-bottom: 97px;

}

.filters__form {
  max-width: 823px;
  display: flex;
  flex-direction: column;
}

.filters__form .form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 809px;
}


.form-row:not(:last-child) {
  margin-bottom: 16px;
}

.filters__form .sort {
  display: flex;
  flex-direction: column;
  margin-right: 24px;

}

.sort label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #2D3440;
  font-size: 14px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.select-control {
  border: none;
  box-sizing: border-box;
  min-width: 196px;
  display: flex;
  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  cursor: pointer;
  appearance: none;
  background-image: url("../images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 15px;
}

.select-control:disabled {}

.select-control:hover {}

.select-control:focus {}

.select-control:active {}


.select-control:invalid {}



.range-bar {
  position: absolute;

  height: 0px;
  border: 2px solid #565C66;
}

.range-toggle {
  position: absolute;
  cursor: pointer;

  width: 16px;
  height: 16px;
  background-color: #2D3440;
  border-radius: 50%;


}


.range-toggle::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FCFCFC;
  z-index: 1;
}


.range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
}


.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}






.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 8px;
}

.catalog-filter-label {}


.form-group-range {
  display: flex;
  width: 100px;
}


.range-input {
  box-sizing: border-box;
  width: 30px;
  background-color: transparent;
  border: none;
  appearance: textfield;
  cursor: pointer;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;

}




















.range {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 36px;

  background-color: #FCFCFC;
  opacity: 0.3;
  border-radius: 20px;

}

.range-scale {
  position: relative;
  width: 164px;
  height: 0px;

  border: 2px solid #565C66;

}


.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 410px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 10px 24px;
  box-sizing: border-box;

}

.input-group-ingredient {

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 654px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 12px 24px;
  box-sizing: border-box;

}

.input {
  cursor: pointer;

}



.control {
  position: relative;
  display: block;
  padding-left: 30px;
  border: none;
  cursor: pointer;
}


.control-input[type="checkbox"] + .control-ingredients::before {
  position: absolute;
  left: 5px;
  top: 5px;

  background-image: url("../images/gl-chek-square.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  fill: ;

  content: "";
}

.control-input[type="checkbox"]:checked + .control-ingredients::before {
  position: absolute;
  left: 5px;
  top: 5px;

  background-image: url("../images/glacy-chek.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  fill: ;

  content: "";
}


.control-input[type="radio"]:disabled + .control- {
  background: #FFFFFF;
  border: none;
}



.control-input[type="radio"]:focus + .control- {
  background: #FFFFFF;
  outline: 3px solid #83B3D3;

}

.control-input[type="radio"]:hover + .control- {
  background: #FFFFFF;


}

.control-input[type="checkbox"]:disabled + .control-ingredients {
  background-image: url("../images/gl-chek-square.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border: none;
}


.control-input[type="checkbox"]:hover + .control-ingredients {
  background: transparent;

  border: none;

}

.control-input[type="checkbox"]:focus + .control-ingredients {}




.control-input {}




.control-label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 17px;
}


.control-ingredients {
  position: absolute;
  left: 0%;
  top: 0%;
}
}

.control-input[type="checkbox"]:disabled + .ingredients-text {
  background-image: url("../images/gl-chek-square.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background: transparent;

  border: none;
}



.fat-item {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin-right: 16px;
}

.filters__form .price {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.price label {
  font-size: 14px;

}

.filters__form .fat {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  border: none;
  padding: 0;
}

.fat > span {
  font-size: 14px;
  padding-left: 16px;
}

.filters__form .ingredient {
  border: none;
  display: flex;
  flex-direction: column;
  margin-right: 24px;

  flex-wrap: wrap;
  padding: 0;
}

.ingredient > span {
  font-size: 14px;
  padding-left: 16px;
  margin-bottom: 8px;

}

.ingredient-title {
  margin-bottom: 8px;
  margin-left: 16px;
}

.button {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  cursor: pointer;


  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  border: none;

}


.button-show {
  margin-left: 500px;
  min-width: 179px;
}

.button:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}



.button:focus {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);

}

.button:active {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);

}

.button:disabled {
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
}


.pagination-main {
  display: flex;
  align-items: center;
  width: 1170px;
  margin-bottom: 129px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 250px;



}


.pagination-list {
  display: flex;
  list-style-type: none;
  min-width: 120px;
  justify-content: flex-end;
}




.pagination-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  margin-right: 15px;
}

.pagination-prev::before {
  content: url("../images/arrow-pag.svg");
  background-position: center;
  width: 6px;
  height: 12px;
  background-color: transparent;

}

.pagination-next::before {


  content: url("../images/arrow-pag.svg");
  background-position: center;
  width: 6px;
  height: 12px;
  background-color: transparent;
}


.pagination-prev {
  width: 6px;
  height: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pagination-next {
  width: 6px;
  height: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;


}

.pagination-current {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #FCFCFC;
  border-radius: 76px;
}

ъъ\\ъ\
